body
{
    padding: 100px 100px;
    background-color: rgb(180, 116, 96);
    margin: 0;
}

h1{
    text-align: center;
    background-color:grey;
    color: white;
    font-weight: bold;
    font-size:30px;
    padding:15px;
}
#container
{
    padding: 50px 100px;
    background-color: rgb(105, 83, 114);

}
#lbl{
     text-align: center;
     display: block;
    
    color: white;
    font-weight: bold;
    font-family: fantasy;
    font-size:30px;
    padding:15px;
}

#area
{
width:100%;
border:5px solid black;
font-size: 20px;
}

p{
color:white;
font-size:30px;
font-family: 'Times New Roman', Times, serif;
text-align: center;
}
